/* Base */
body {
	padding-top: 50px;
}
a:hover {
	text-decoration: none;
}
.container-fluid {
	max-width: 1170px;
}

/* Navigation */
.navbar-nib {
	background-color: #ffffff;
	margin-bottom: 0;
}
.apply {
	margin-left: 15px;
	margin-right: 15px;
}
.ni-brand {
	padding: 10px;
}
.logo {
	height: 30px;
}

/* Events */
.events {
	border-color: #bce8f1;
	padding-bottom: 20px;
}

/* Client Slider */
.client-slider {
	box-shadow: 0 0 10px 0 #31708f;
}
.slider div {
	position:relative;
	text-align: center;
	float: left;
	height:150px;
	width:250px;
	z-index:0;
	opacity:0.4;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}
.slider div:hover {
	opacity:1.0;
}
.slider div img {
	position:absolute;
	left:10%;
	width:80%;
	right:10%;
	z-index:0;
	top:12px;
}
.slider div img.small {
	top:20px;
	left:15%;
	right:15%;
	width:70%;
}

/* Testimonials */
.testimonial {
	padding: 20px 40px 0;
	box-shadow: 0 0 10px 0 #31708f;
}
.quote {
	font-size: 15px;
}
.quote-genentech {
	border-left: 5px solid #0067b1;
}
.quote-sungevity {
	border-left: 5px solid #E56E00;
}
.quote-crs {
	border-left: 5px solid #66DC04;
}
.quote-naturebridge {
	border-left: 5px solid #36913B;
}
.img-testimonial {
	width: 150px;
	float: right;
}

/* About */
.about {
	padding: 40px 0;
}
.img-leader {
	margin-top: 20px;
}

/* Net Impact */
.net-impact {
	padding: 20px 0 40px;
}
.about-net-impact {
	padding-bottom: 20px;
}

/* Consulting */
.consulting {
	padding: 40px 0;
}
.services {
	padding-top: 20px;
}
.service-body {
	position: relative;
}
.img-service {
	position: absolute;
	width: 300px;
	right: 60px;
	top: -10px;
	opacity: 0.5;
}
.service-bullets {
	font-size: 15px;
	margin-bottom: 0;
}
.service-bullets li {
	padding: 10px 0;
}
@media (max-width: 768px) {
	.img-service {
		opacity: 0.2;
		right: 0;
	}
}

/* Interest */
.interest {
	padding: 20px;
	text-align: center;
	font-size: 18px;
}

/* Information */
.information {
	background: #31708f;
	padding: 40px 0;
	color: #ffffff;
}
@media (max-width: 992px) {
	.information-section {
		text-align: center;
		padding-bottom: 10px;
	}
}

/* Footer */
.footer {
	background: #333333;
	padding: 24px 0 10px;
	color:	#858585;
}
.copyright {
	padding-top: 15px;
}
.links {
	display: block;
	float: right;
	padding-left: 0;
}
.links li {
	float: left;
	display: block;
	margin-left: 10px;
}
.links li:first-child {
	margin-left: 0;
}
.links li a {
	display: block;
	height: 50px;
	width: 50px;
	background: url("../img/social.png") no-repeat center 0;
}
.links li a:hover {
	opacity: 0.8;
}
.links li .facebook {
	background-position: center -200px;
}
.links li .mail {
	background-position: center -400px;
}
@media (max-width: 992px) {
	.footer {
		text-align: center;
	}
	.links {
		float: none;
		display: inline-block;
	}
}


.week-label {
	font-size:15px;
	font-weight:bold;
	font-style:italic;
}

.contact-footer-email {
	margin-left:10px;
	margin-bottom:30px;
	text-align: center;
	padding:20px;
	-moz-box-shadow: inset 1px 1px 10px #000000;
   	-webkit-box-shadow: inset 1px 1px 10px #000000;
   	box-shadow: inset 1px 1px 10px #000000;
}

.btn-recruiting {
	height:100%;
	padding-left:80px;
	padding-right:80px;
	float:right;
}

.calendar {
	background:#C4DFE0;
}

.flyer {
	text-align: center;
	margin: 10px auto;
}

.register-here {
	margin-top: 5px;
}

.contact-bar {
	position:fixed;
	width:300px;
	height:500px;
	right:0;
	background:white;
	z-index: 100;
	float:right;
	top:140px;
	-moz-box-shadow: inset 1px 1px 10px #000000;
   	-webkit-box-shadow: inset 1px 1px 10px #000000;
   	box-shadow: inset 1px 1px 10px #000000;
   	overflow:hidden;
}
.contact-close {
	float:right;
	font-weight:bold;
	padding-right:20px;
	padding-top:10px;
	text-decoration: none;
	color:grey;
	z-index: 99;
}
.contact-grey {
	margin:10px;
	/*background:lightgrey;
	-moz-box-shadow: 1px 1px 10px #000000;
   	-webkit-box-shadow: 1px 1px 10px #000000;
   	box-shadow: 1px 1px 10px #000000;*/
}
.contact-blue {
	/*background:#81D0DA;*/
	margin:10px;
	/*-moz-box-shadow: 1px 1px 10px #000000;
   	-webkit-box-shadow: 1px 1px 10px #000000;
   	box-shadow: 1px 1px 10px #000000;*/
}
.contact-header {
	padding-left:20px;
	padding-top:20px;
	font-weight:bold;
	color:grey;
	font-size:30px;
	padding-right:30px;
	z-index: 99;
}
.contact-subheader {
	padding-left:20px;
	padding-top:10px;
	font-weight:bold;
	padding-right:30px;
	z-index: 99;
	color:black;
	padding-bottom:10px;
}
.contact-close > a {
	color:grey;
	font-size:20px;
}
.contact-close > a:hover,
.contact-close > a:active {
	color:#173F7D;
	text-decoration: none;
}
.contact-body {
	padding-left:20px;
	padding-top:10px;
	padding-right:30px;
	padding-bottom:10px;
}

.tiles {
	padding:10px 0px;
	padding-bottom:20px;
	background:#c4dfe0;
}

#wrapper {
	background-color: #ffffff;
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	left: 0;
	right: 0;
	opacity:1.0;
}

.centered {
 	position: fixed;
 	top: 50%;
 	left: 50%;
	margin-top: -125px;
 	margin-left: -125px;
}

.bannerstrip {
	position: relative;
	height:600px;
	background-color:#ffffff;
	width:100%;
	/-moz-box-shadow: inset 1px 1px 30px #000000;
   	-webkit-box-shadow: inset 1px 1px 30px #000000;
   	box-shadow: inset 1px 1px 30px #000000;
}
.bannerstrip-inner {
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
}
.banner-images {
	position:relative;
	width:1170px;
	height:500px;
	margin-left:auto;
	margin-right:auto;
	margin-top: 20px;
	margin-bottom:20px;
	border:white solid thick;
}
.image-big {
	position:relative;
	background:transparent;
	margin-right:20px;
	width:597px;
	height:350px;
	z-index: 0;
	float:left;
}
.image-small {
	position:relative;
	background:transparent;
	margin-top:20px;
	height: 165px;
	z-index: 0;
	width:294px;
}
.image-small2 {
	position:relative;
	background:transparent;
	margin-top:20px;
	height: 165px;
	z-index: 0;
	width:294px;
}
.banner-big {
	position:absolute;
	border:white solid thick;
	height:100%;
	width:100%;
}
.banner-small {
	position:absolute;
	border:white solid thick;
	height:100%;
	width:100%;
}
.banner-small2 {
	position:absolute;
	border:white solid thick;
	height:100%;
	width:100%;
}
.bannerstrip-logo {
	position:absolute;
	width:100px;
	bottom:20px;
	right:20px;
}

.navbar-subhead {
	position:absolute;
	font-style:italic;
	float:left;
	bottom:7px;
	left:190px;
}
.navbar-subhead-dup {
	position:absolute;
	font-style:italic;
	bottom:7px;
	margin-left:190px;
}

@media (min-width:1200px) {

.tabs {
	height:290px;
}

}

/* Landscape phone to portrait tablet */
@media (max-width: 1200px) {

.tiles {
	padding:15px;
}
.copyright {
	padding:15px;
}
.footer-wrapper {
	padding:15px;
}

.apply-now {
	display:block;
}
.apply-now > a.btn {
	font-weight: bold;
	color:#ffffff;
	margin-left:15px;
}

.navbar-fixed-top {
  -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 0px #0067B1;
}

}

@media (max-width: 800px) {

.btn-recruiting {
	height:100%;
	padding-left:20px;
	padding-right:20px;
	float:right;
}

.footer-image {
	position:relative;
	margin-left:0;
	left:0;
}

}


/* Landscape phones and down */
@media (max-width: 600px) {

.navbar-fixed-top {
  -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 0px #0067B1;
}

.footer-image {
	position:relative;
	margin-left:0;
	left:0;
}
 
}
