/* Base */
body {
	padding-top: 50px;
}
a:hover {
	text-decoration: none;
}
.container-fluid {
	max-width: 1170px;
}

/* Navigation */
.navbar-nib {
	background-color: #ffffff;
	margin-bottom: 0;
}
.apply {
	margin-left: 15px;
	margin-right: 15px;
}
.ni-brand {
	padding: 10px;
}
.logo {
	height: 30px;
}

/* Events */
.events {
	border-color: #bce8f1;
	padding: 30px 0;
}
.week-label {
	font-size: 15px;
	font-weight: bold;
	font-style: italic;
	padding-bottom: 10px;
}
.events h5 {
	margin: 0;
}

/* Client Slider */
.client-slider {
	box-shadow: 0 0 10px 0 #31708f;
}
.slider div {
	position:relative;
	text-align: center;
	float: left;
	height: 150px;
	width: 250px;
	z-index: 0;
	opacity: 0.4;
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	transition: .5s;
}
.slider div:hover {
	opacity: 1.0;
}
.slider div img {
	position: absolute;
	left: 10%;
	width: 80%;
	right: 10%;
	z-index: 0;
	top: 12px;
}
.slider div img.small {
	top: 20px;
	left: 15%;
	right: 15%;
	width: 70%;
}

/* Testimonials */
.testimonial {
	padding: 20px 40px 0;
	box-shadow: 0 0 10px 0 #31708f;
}
.quote {
	font-size: 15px;
}
.quote-genentech {
	border-left: 5px solid #0067b1;
}
.quote-sungevity {
	border-left: 5px solid #E56E00;
}
.quote-crs {
	border-left: 5px solid #66DC04;
}
.quote-naturebridge {
	border-left: 5px solid #36913B;
}
.img-testimonial {
	width: 150px;
	float: right;
}

/* About */
.about {
	padding: 40px 0;
}
.img-leader {
	margin-top: 20px;
}

/* Net Impact */
.net-impact {
	padding: 20px 0 40px;
}
.about-net-impact {
	padding-bottom: 20px;
}

/* Consulting */
.consulting {
	padding: 40px 0;
}
.services {
	padding-top: 20px;
}
.service-body {
	position: relative;
}
.img-service {
	position: absolute;
	width: 300px;
	right: 60px;
	top: -10px;
	opacity: 0.5;
}
.service-bullets {
	font-size: 15px;
	margin-bottom: 0;
}
.service-bullets li {
	padding: 10px 0;
}
@media (max-width: 768px) {
	.img-service {
		opacity: 0.2;
		right: 0;
	}
}

/* Interest */
.interest {
	padding: 20px;
	text-align: center;
	font-size: 18px;
}

/* Results */
.results {
	padding: 40px 0;
}

/* Clients */
.clients {
	padding: 30px 0;
}
.clientele .row {
	padding: 10px 0;
}
.clientele img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.second-row {
	margin-top: 30px;
}

/* Join */
.join {
	padding: 30px 0 20px;
}
.join-tabs {
	padding-top: 20px;
}
.join-tabs .tab-content {
	padding-top: 20px;
}

/* Information */
.information {
	background: #31708f;
	padding: 40px 0;
	color: #ffffff;
}
@media (max-width: 992px) {
	.information-section {
		text-align: center;
		padding-bottom: 10px;
	}
}

/* Footer */
.footer {
	background: #333333;
	padding: 24px 0 10px;
	color:	#858585;
}
.copyright {
	padding-top: 15px;
}
.links {
	display: block;
	float: right;
	padding-left: 0;
}
.links li {
	float: left;
	display: block;
	margin-left: 10px;
}
.links li:first-child {
	margin-left: 0;
}
.links li a {
	display: block;
	height: 50px;
	width: 50px;
	background: url("../img/social.png") no-repeat center 0;
}
.links li a:hover {
	opacity: 0.8;
}
.links li .facebook {
	background-position: center -200px;
}
.links li .mail {
	background-position: center -400px;
}
@media (max-width: 992px) {
	.footer {
		text-align: center;
	}
	.links {
		float: none;
		display: inline-block;
	}
}
