/* Base */
body {
	padding-top: 50px;
}
a:hover {
	text-decoration: none;
}

/* Navigation */
.apply {
	margin-left: 15px;
	margin-right: 15px;
}
.ni-brand {
	padding: 10px;
}
.logo {
	height: 30px;
}

/* Events */
.events {
	border-color: #bce8f1;
	padding-bottom: 20px;
}

/* Client Slider */
.client-slider {
	box-shadow: 0 0 10px 0 #31708f;
}
.slider div {
	position:relative;
	text-align: center;
	float: left;
	height:150px;
	width:250px;
	z-index:0;
	opacity:0.4;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}
.slider div:hover {
	opacity:1.0;
}
.slider div img {
	position:absolute;
	left:10%;
	width:80%;
	right:10%;
	z-index:0;
	top:12px;
}
.slider div img.small {
	top:20px;
	left:15%;
	right:15%;
	width:70%;
}

.week-label {
	font-size:15px;
	font-weight:bold;
	font-style:italic;
}

.leadership-list-left {
	position:relative;
	width:25%;
	float:left;
	height:100%;
}
.img-border {
	margin-top:10px;
	margin-bottom:10px;
	border:#dddddd solid 10px;
	box-shadow: 1px 1px 10px #000000;
}
.leadership-list-right {
	position:relative;
	width:70%;
	float:right;
	height:100%;
}

.contact-footer-email {
	margin-left:10px;
	margin-bottom:30px;
	text-align: center;
	padding:20px;
	-moz-box-shadow: inset 1px 1px 10px #000000;
   	-webkit-box-shadow: inset 1px 1px 10px #000000;
   	box-shadow: inset 1px 1px 10px #000000;
}

.btn-recruiting {
	height:100%;
	padding-left:80px;
	padding-right:80px;
	float:right;
}

.accordion-heading > a {
	font-size:20px;
}

.calendar {
	background:#C4DFE0;
}

.ni-international .left {
}
.ni-international .right {
}

.mission { 
	margin-top:-10px;
	margin-bottom:10px;
	background:#ffffff;
}
.mission .span12 {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.mission-inner {
	margin:10px;
	padding:20px;
	background:white;
	box-shadow: 1px 1px 10px #000000;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

blockquote {
	padding: 15px;
  	margin-left:0px;
  	font-style:italic;
}
blockquote > p {
	font-size:15px;
}

.flyer {
	text-align: center;
	margin: 10px auto;
}

.register-here {
	margin-top: 5px;
}

.contact-bar {
	position:fixed;
	width:300px;
	height:500px;
	right:0;
	background:white;
	z-index: 100;
	float:right;
	top:140px;
	-moz-box-shadow: inset 1px 1px 10px #000000;
   	-webkit-box-shadow: inset 1px 1px 10px #000000;
   	box-shadow: inset 1px 1px 10px #000000;
   	overflow:hidden;
}
.contact-close {
	float:right;
	font-weight:bold;
	padding-right:20px;
	padding-top:10px;
	text-decoration: none;
	color:grey;
	z-index: 99;
}
.contact-grey {
	margin:10px;
	/*background:lightgrey;
	-moz-box-shadow: 1px 1px 10px #000000;
   	-webkit-box-shadow: 1px 1px 10px #000000;
   	box-shadow: 1px 1px 10px #000000;*/
}
.contact-blue {
	/*background:#81D0DA;*/
	margin:10px;
	/*-moz-box-shadow: 1px 1px 10px #000000;
   	-webkit-box-shadow: 1px 1px 10px #000000;
   	box-shadow: 1px 1px 10px #000000;*/
}
.contact-header {
	padding-left:20px;
	padding-top:20px;
	font-weight:bold;
	color:grey;
	font-size:30px;
	padding-right:30px;
	z-index: 99;
}
.contact-subheader {
	padding-left:20px;
	padding-top:10px;
	font-weight:bold;
	padding-right:30px;
	z-index: 99;
	color:black;
	padding-bottom:10px;
}
.contact-close > a {
	color:grey;
	font-size:20px;
}
.contact-close > a:hover,
.contact-close > a:active {
	color:#173F7D;
	text-decoration: none;
}
.contact-body {
	padding-left:20px;
	padding-top:10px;
	padding-right:30px;
	padding-bottom:10px;
}

.tiles {
	padding:10px 0px;
	padding-bottom:20px;
	background:#c4dfe0;
}

.ni-international {
	background:#c4dfe0;
	padding-bottom:10px;
}

.testimonial {
	padding-left:40px;
	padding-right:40px;
	position:relative;
	background-color:white;
	/*box-shadow: 0 0 20px 0 #000000;*/
	margin-top:60px;
	-moz-box-shadow: inset 1px 1px 4px #000000;
   	-webkit-box-shadow: inset 1px 1px 4px #000000;
   	box-shadow: inset 1px 1px 4px #000000;
}
.testimonial-img {
	float:right;
}

.clients-page {
	background: #c4dfe0;
}

.copyright {
	position:relative;
	bottom:0px;
	color:darkgrey;
	background: #11294B;
	/*-moz-box-shadow: inset 1px 1px 10px #000000;
   	-webkit-box-shadow: inset 1px 1px 10px #000000;
   	box-shadow: inset 1px 1px 10px #000000;*/
}
.span3 > h4,
.span4 > h4 {
	color:#41a7c5;
}
.span6 > h2 {
	color:#11294B;
}

.footer-wrapper {
	background:#11294B;
	margin-left:10px;
}
#footer-bottom {
	border-top:#c4dfe0 solid thin;
	padding-top:10px;
	padding-bottom:30px;
}
.footer > li {
	display:inline;
}
.footer > li.menu {
	float:right;
	padding:0 10px;
}
.footer > li.menu > a {
	color:#41a7c5;
	font-size:small;
	text-decoration: none;
	font-weight:bold;
}
.footer > li.menu > a:hover,
.footer > li.menu > a:active {
	color:lightgrey;
	font-size:small;
}
.footer-image {
	position:absolute;
	left:50%;
	margin-left:-45px;
}

#wrapper {
	background-color: #ffffff;
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	left: 0;
	right: 0;
	opacity:1.0;
}

.centered {
 	position: fixed;
 	top: 50%;
 	left: 50%;
	margin-top: -125px;
 	margin-left: -125px;
}

.bannerstrip {
	position: relative;
	height:600px;
	background-color:#ffffff;
	width:100%;
	/-moz-box-shadow: inset 1px 1px 30px #000000;
   	-webkit-box-shadow: inset 1px 1px 30px #000000;
   	box-shadow: inset 1px 1px 30px #000000;
}
.bannerstrip-inner {
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
}
.banner-images {
	position:relative;
	width:1170px;
	height:500px;
	margin-left:auto;
	margin-right:auto;
	margin-top: 20px;
	margin-bottom:20px;
	border:white solid thick;
}
.image-big {
	position:relative;
	background:transparent;
	margin-right:20px;
	width:597px;
	height:350px;
	z-index: 0;
	float:left;
}
.image-small {
	position:relative;
	background:transparent;
	margin-top:20px;
	height: 165px;
	z-index: 0;
	width:294px;
}
.image-small2 {
	position:relative;
	background:transparent;
	margin-top:20px;
	height: 165px;
	z-index: 0;
	width:294px;
}
.banner-big {
	position:absolute;
	border:white solid thick;
	height:100%;
	width:100%;
}
.banner-small {
	position:absolute;
	border:white solid thick;
	height:100%;
	width:100%;
}
.banner-small2 {
	position:absolute;
	border:white solid thick;
	height:100%;
	width:100%;
}
.bannerstrip-logo {
	position:absolute;
	width:100px;
	bottom:20px;
	right:20px;
}

.service-bullets {
	font-size:15px;
}
.service-bullets > li {
	padding-top:10px;
	padding-bottom:10px;
	margin-left:40px;
}
.service-image {
	width:300px;
	right:60px;
	position:absolute;
	top:-10px;
	opacity:0.5;
}

.about-photos {
	border:#ffffff solid thick;
}


.tab-pane {
	margin-left:40px;
}

.navbar-subhead {
	position:absolute;
	font-style:italic;
	float:left;
	bottom:7px;
	left:190px;
}
.navbar-subhead-dup {
	position:absolute;
	font-style:italic;
	bottom:7px;
	margin-left:190px;
}

@media (min-width:1200px) {

.tabs {
	height:290px;
}

}

/* Landscape phone to portrait tablet */
@media (max-width: 1200px) {

.tiles {
	padding:15px;
}
.copyright {
	padding:15px;
}
.footer-wrapper {
	padding:15px;
}
.ni-international {
	padding:15px;
}
.testimonial {
	padding:15px;
}

.apply-now {
	display:block;
}
.apply-now > a.btn {
	font-weight: bold;
	color:#ffffff;
	margin-left:15px;
}

.navbar-fixed-top {
  -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 0px #0067B1;
}

blockquote {
	padding: 0 15px 0 15px;
  	border-left: 5px solid #0067b1;
  	margin-left: 5px;
  	font-style:italic;
}

}

@media (max-width: 800px) {

.btn-recruiting {
	height:100%;
	padding-left:20px;
	padding-right:20px;
	float:right;
}

.footer-image {
	position:relative;
	margin-left:0;
	left:0;
}

}


/* Landscape phones and down */
@media (max-width: 600px) {

.navbar-fixed-top {
  -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 0px #0067B1;
}

.ni-international .left {
	border-right:none;
}
.ni-international .right {
	border-left:none;
}

.mission { 
	margin-top:10px;
	margin-bottom:10px;
	padding-bottom:10px;
	padding-left:10px;
	padding-right:10px;
}

.btn-recruiting {
	height:100%;
	padding-left:20px;
	padding-right:20px;
}

.service-bullets > li {
	padding-top:10px;
	padding-bottom:10px;
	margin-left:5px;
}
.service-image {
	opacity:0.2;
	right:0;
}

.footer-image {
	position:relative;
	margin-left:0;
	left:0;
}
 
}

/* Large desktop */
@media (min-width: 1200px) {



}


