/* Base */
body {
	padding-top: 80px;
}
.container-fluid {
	max-width: 1000px;
}

/* Typography */
a {
	color: #0067b1;
}
a:hover {
	color: #00afef;
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
}
h1, h2 {
	text-align: center;
	margin-bottom: 20px;
}

/* Buttons */
.btn-nib {
  color: #0067b1;
  background-color: transparent;
  border-color: #0067b1;
}
.btn-nib:hover,
.btn-nib:focus,
.btn-nib:active {
  color: #fff;
  background-color: #0067b1;
  border-color: #0067b1;
}
.btn-nib-inverse {
  color: #fff;
  background-color: transparent;
  border-color: #fff;
}
.btn-nib-inverse:hover,
.btn-nib-inverse:focus,
.btn-nib-inverse:active {
  color: #0067b1;
  text-shadow: none;
  background-color: #fff;
  border-color: #fff;
}

/* Navigation */
.navbar-nib {
	min-height: 80px;
	border-color:	transparent;
	background-color: #fff;
	box-shadow: 0 0 10px 0 #858585;
}
.nib-brand {
	height: 80px;
	padding: 20px 15px;
}
.nib-brand img {
	height: 40px;
}
.navbar-nib .navbar-nav > li > a {
  color: #0067b1;
  font-weight: bold;
}
.navbar-nib .navbar-nav > li > a:hover,
.navbar-nib .navbar-nav > li > a:focus {
  color: #00afef;
}
.navbar-nib .navbar-nav > .active > a,
.navbar-nib .navbar-nav > .active > a:hover,
.navbar-nib .navbar-nav > .active > a:focus {
  color: #00afef;
  background-color: transparent;
}
.navbar-nib .navbar-toggle {
	border-color: transparent;
	margin-top: 23px;
	margin-bottom: 23px;
}
.navbar-nib .navbar-toggle:hover,
.navbar-nib .navbar-toggle:focus {
	background-color: transparent;
}
.navbar-nib .navbar-toggle .icon-bar {
	background-color: #0067b1;
}
.apply {
	display: inline-block;
	margin: 3px 15px;
}
@media (min-width: 768px) {
	.navbar-nib .navbar-nav > li > a {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.apply {
		margin-top: 23px;
		margin-bottom: 23px;
	}
}

/* Events */
.events {
	background-color: #eaf3f9;
	padding: 20px 0 30px;
}
.events .row {
	margin-right: -5px;
	margin-left: -5px;
}
.events .col-sm-4,
.events .col-sm-3 {
	padding-right: 5px;
	padding-left: 5px;
}
.events h2 {
	color: #0067b1;
}
.events h5 {
	margin: 0;
}

/* Slider */
.slider div {
	position:relative;
	text-align: center;
	float: left;
	height: 150px;
	width: 250px;
	z-index: 0;
	opacity: 0.4;
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	transition: .5s;
}
.slider div:hover {
	opacity: 1.0;
}
.slider div img {
	position: absolute;
	left: 10%;
	width: 80%;
	right: 10%;
	z-index: 0;
	top: 12px;
}
.slider div img.small {
	top: 20px;
	left: 15%;
	right: 15%;
	width: 70%;
}

/* Testimonials */
.testimonial {
	padding: 20px 40px 0;
	border-bottom: 1px solid #e7e7e7;
}
.quote {
	font-size: 15px;
}
.quote-genentech {
	border-left: 5px solid #0067b1;
}
.quote-sungevity {
	border-left: 5px solid #e56e00;
}
.quote-crs {
	border-left: 5px solid #66dc04;
}
.quote-naturebridge {
	border-left: 5px solid #36913b;
}
.img-testimonial {
	width: 150px;
	float: right;
}

/* About */
.about {
	padding: 20px 0 30px;
	border-bottom: 1px solid #e7e7e7;
}
.about-image {
	text-align: center;
	margin-top: 20px;
}

/* Net Impact */
.net-impact {
	padding: 20px 0 40px;
}
.about-net-impact {
	padding-bottom: 20px;
}
.about-net-impact h3 {
	color: #0067b1;
}

/* Consulting */
.consulting {
	padding: 20px 0;
}
.services {
	padding-top: 20px;
}
.service {
	position: relative;
}
.service-heading {
	position: relative;
	z-index: 1;
}
.service-body img {
	position: absolute;
	width: 300px;
	right: 60px;
	top: 15px;
	opacity: 0.25;
}
.service-bullets {
	font-size: 15px;
	margin-bottom: 0;
}
.service-bullets li {
	padding: 10px 0;
}
@media (max-width: 768px) {
	.img-service {
		opacity: 0.2;
		right: 0;
	}
}

/* Interest */
.interest {
	background-color: #eaf3f9;
	padding: 20px;
	text-align: center;
	font-size: 18px;
}
.interest-text {
	color: #0067b1;
}

/* Clients */
.clients {
	padding: 20px 0 30px;
}
.clientele {
	padding-top: 20px;
}
.clientele .row {
	padding: 10px 0;
}
.clientele img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.second-row {
	margin-top: 30px;
}

/* Join */
.join {
	padding: 20px 0;
}
.join-tabs {
	padding-top: 20px;
}
.join-tabs .tab-content {
	padding-top: 20px;
}

/* Information */
.information {
	background: #0067b1;
	padding: 30px 0;
	color: #ffffff;
}
@media (max-width: 992px) {
	.information-section {
		text-align: center;
		padding-bottom: 10px;
	}
}

/* Footer */
.footer {
	background: #333;
	padding: 24px 0 10px;
	color:	#858585;
}
.copyright {
	padding-top: 15px;
}
.links {
	display: block;
	float: right;
	padding-left: 0;
}
.links li {
	float: left;
	display: block;
	margin-left: 10px;
}
.links li:first-child {
	margin-left: 0;
}
.links li a {
	display: block;
	height: 50px;
	width: 50px;
	background: url("../img/social.png") no-repeat center 0;
}
.links li a:hover {
	opacity: 0.8;
}
.links li .facebook {
	background-position: center -200px;
}
.links li .mail {
	background-position: center -400px;
}
@media (max-width: 992px) {
	.footer {
		text-align: center;
	}
	.links {
		float: none;
		display: inline-block;
		padding-top: 10px;
	}
}
